body {
  font-family: 'Poppins', sans-serif;
  background: #002f7bd6;
  color: var(--color-white);
  line-height: 1.7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
