@import url('https://fonts.googleapis.com/css2?family=Domine&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;;
  color: var(--color-white);
  line-height: 1.7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg {
  
  background-image: url("Assets/codelawn.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
 
}

.bgt {
  background:rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;  
}

.h1-txt {
  font-family:'Domine', serif;
  color: greenyellow;
}

.h2-txt {
  display: inline-block;
  padding: 1.1rem;
  background-color: white;
  color: black;
  font-family: 'Khand', sans-serif;
  border-radius: 50px; 
}